.login-chooser-background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(226, 216, 216, 0.733), rgba(248, 246, 246, 0.623));
}

.inner-area {
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,.2);
    height: 90%;
    width: 30%;
    top: 5%;
    left: 35%;
    background: white;
}

.icon {
    position: absolute;
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,.2);
    height:11%;
    width:15%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s;
}

.icon:hover {
    opacity: 0.3;
    width: 14%;
    height: 11%;
    transform: rotate(-359deg);
}

.google-icon {
    top: 5%;
    left: 22.5%;
    background: url('../../assets/images/google.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.facebook-icon {
    top: 5%;
    left: 42.5%;
    background: url('../../assets/images/facebook.png');
    background-repeat: no-repeat;
    background-size: 88% 88%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.linkedin-icon {
    top: 5%;
    left: 62.5%;
    background: url('../../assets/images/linkedin.png');
    background-repeat: no-repeat;
    background-size: 88% 88%;
    background-position-x: 53%;
    background-position-y: 50%;
}

.divider {
    height: 2px;
    width: 90%;
    background: linear-gradient(rgba(226, 216, 216, 0.733), rgba(248, 246, 246, 0.623));
}

.chooser-divider {
    position: absolute;
    top: 21%;
    left: 5%;
}

.login-divider {
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
}

.login-form {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 60%;
    width: 80%;
    background: linear-gradient(rgba(92, 91, 91, 0.103),rgba(145, 144, 144, 0.041));
    
    border-radius: 4px;
}

.login-header {
    position: relative;
    margin-top:2%;
    text-align: center;
    font-family: "Open Sans" sans-serif;
    text-shadow: 0 0 2px #1e1e1e;
    font-weight: 400;
    font-size: 28px;
}

.content {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 20%;
}

.label {
    position: relative;
    font-family: "Open Sans" sans-serif;
    font-size: 20px;
    margin-left: 5%;
    font-weight: 200;
    text-shadow: 0 0 1px #1e1e1e42;
    color: #11111198;
}

.input {
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.login-button {
    position: relative;
    margin-top: 5%;
    background:  linear-gradient(rgba(60, 83, 214, 0.966), rgba(2, 51, 184, 0.979));
    width: 90%;
    margin-left: 5%;
    height: 10%;
    color: white;
    border-color: rgba(2, 51, 184, 0.979);
    border-radius: 4px;
}

.login-button:hover {
    text-shadow: 0 0 50px rgb(6, 69, 241);
    opacity:0.7;
    cursor: pointer;
}

.login-check {
    position: relative;
    margin-left: 5%;
    size :10%;
    margin-top: 4%;
    background: rgba(38, 5, 223, 0.74);
    border-radius: 2px;
}

.show-password {
    position: relative;
    font-family: "Open Sans" sans-serif;
    font-size: 18px;
    margin-left: 2%;
    font-weight: 200;
    text-shadow: 0 0 1px #1e1e1e42;
    color: #11111198;

}

.login-register {
    position: absolute;
    top: 90%;
    left: 5%;
    font-family: "Open Sans" sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.login-changepwd {
    position: absolute;
    top: 90%;
    left: 70%;
    font-family: "Open Sans" sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.normal-block {
    opacity: 0;
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    color: red;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5s;
}

.error-block {
    transition: 0.5s;
    opacity: 1;
    
}

.input-error {
    transition: 0.5s;
    box-shadow: 0 2px 0px 0 rgba(231, 5, 5, 0.966), 0 3px 0px 0 rgba(253, 50, 50, 0.938);
    border: none;
}