<app-user-header></app-user-header>
<div class="login-chooser-background">
    <div class="inner-area-bar">
        <div class="label" >
            {{time}}
        </div>
    </div>
    <div class="inner-area-1" (click)="Add()">
        <img class="imageplacer" src="../../assets/images/add.png" alt="images"/>
    </div>
    <div class="inner-area-2">
        <img class="imageplacer" src="../../assets/images/sub.png" alt="images"/>
    </div>
    <div class="inner-area-3">
        <img class="imageplacer" src="../../assets/images/mul.png" alt="images"/>
    </div>
</div>