<header id="header">
    <nav class="myUserHeader">
        
            <div class="row">
                <div class="col-6">
                    
                        
                            
                  <span class="myHeaderTitle">Dream Project</span>
                        
                    
                </div>
                <div class="col-6">
                    <div class="dropdown pointer">
                      <button type="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></button>
                       
                      <div class="dropdown-menu">
                        <a class="dropdown-item">Profile</a>
                        <a class="dropdown-item">Logout</a>
                      </div>
                    </div>
                </div>
            </div>
        
    </nav>
</header>