<header id="header">
    <nav class="myUserHeader">
        
            <div class="row">
                    
                        
                <!-- Put in div container and then image
                   <div class="myLogo"></div> -->         
                  <span class="myHeaderTitle">Dream Project</span>
                  <span class="userProfile" (click)="logout()" (mainIndexLoaded)="ngOnAfterRendering()">{{user}}</span>
                        
                    
                
            </div>
        
    </nav>
</header>