<div class="signUpForm-background">
    <div class="inner-area">
      <div>
                            <!--<form class="myFormInput" [formGroup]="registrationForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" formControlName="firstName"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" formControlName="lastName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" formControlName="email"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username *" formControlName="username"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" formControlName="password"/>
                                </div>
                                <div class="form-check mt-4 mb-4 text-left">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"/>
                                        <span>I Agree to Terms and Conditions.</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block mt-5 mySubmitBtn" (click)="register()" [disabled]="!registrationForm.valid">
                                        <span>Register</span>
                                    </button>
                                </div>
                            </form>-->
                            <form name="form" class="register-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                                    <div class="register-header">Register</div>
                                    <div class="divider register-divider"></div>
                                   
                                    <div class="content form-group">
                                        <div class="label">Email:</div>
                                        <input class="input form-control" type="text" [ngClass]="{ 'input-error': (f.submitted && !username.valid) || !emailValidator }" placeholder="Email..." name="username" [(ngModel)]="model.username" (ngModelChange)="emailChecker()" #username="ngModel" required/>
                                        <div *ngIf="(f.submitted && !username.valid)" class="normal-block" [ngClass]="{ 'error-block': f.submitted && !username.valid }">Username is required</div>
                                        <div class="normal-block" [ngClass]="{ 'error-block': !(f.submitted && !username.valid) && !emailValidator }">Please enter correct Email ID</div>
                                    </div>
                                      <div class="content form-group">
                                        <div class="label">Password:</div>
                                        <input class="input form-control" [ngClass]="{ 'input-error': (f.submitted && !password.valid) || !passwordValidator }" type="password" placeholder="Password..." name="password" [(ngModel)]="model.password" (ngModelChange)="passwordChecker()" #password="ngModel" required/>
                                        <div *ngIf="(f.submitted && !password.valid)" class="normal-block" [ngClass]="{ 'error-block' : f.submitted && !password.valid }">Password is required</div>
                                        <div class="normal-block" [ngClass]="{ 'error-block': !(f.submitted && !password.valid) && !passwordValidator }">Password must contain minimum eight characters at least one letter and one number</div>
                                      </div>
                                      <div class="content form-group">
                                        <div class="label">Confirm Password:</div>
                                        <input class="input form-control" [ngClass]="{ 'input-error': (f.submitted && !confPassword.valid) || !confPasswordValidator }" type="password" placeholder="Confirm Password..." name="confPassword" [(ngModel)]="model.confPassword" (ngModelChange)="confPasswordChecker()" #confPassword="ngModel" required/>
                                        <div *ngIf="(f.submitted && !confPassword.valid)" class="normal-block" [ngClass]="{ 'error-block' : f.submitted && !confPassword.valid }">Password is required</div>
                                        <div class="normal-block" [ngClass]="{ 'error-block': !(f.submitted && !confPassword.valid) && !confPasswordValidator }">Password doesn't match</div>
                                      </div>
                                      <div class="content form-group">
                                        <div class="label">Contact Number:</div>
                                        <input class="input form-control" type="text" [ngClass]="{ 'input-error': (f.submitted && !contact.valid) || !contactValidator}" placeholder="Contact Number" name="contact" [(ngModel)]="model.contact" (ngModelChange)="contactChecker()" #contact="ngModel" required/>
                                        <div *ngIf="(f.submitted && !contact.valid)" class="normal-block" [ngClass]="{ 'error-block': f.submitted && !contact.valid}">Contact Number is required</div>
                                        <div class="normal-block" [ngClass]="{ 'error-block': !(f.submitted && !contact.valid) && !contactValidator }">Invalid Contact Number</div>
                                    </div>
                                    <input class="register-check" type="checkbox"/><span class="show-password">show password</span>
                                    <button class="register-button">Register</button>
                                  </form>
                  

      </div>
      </div>
</div>
