.signUpForm-background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(226, 216, 216, 0.733), rgba(248, 246, 246, 0.623));
}

.inner-area {
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,.2);
    height: 75%;
    width: 50%;
    top: 15%;
    left: 25%;
    background: white;
    flex-grow: 1;
	display: flex;
	justify-content: center;
    align-items: center;
}


.mySubmitBtn {
    background:  linear-gradient(rgba(60, 83, 214, 0.966), rgba(2, 51, 184, 0.979));
    border-color: rgba(2, 51, 184, 0.979);
    color: white;
}

.mySubmitBtn:hover{
    text-shadow: 0 0 50px rgb(6, 69, 241);
    opacity:0.7;
}

.myFormInput .form-control {
    border-radius: 7px;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,.2);
}
